<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-page-component (authorsToEmit)="pageClicked($event)"></app-page-component>

<app-author-component [messagesSelected]="messagesSelected" [authorsSelected]="authorsSelected" (messagesToEmit)="authorClicked($event)"></app-author-component>

<app-message-component [messagesSelected]="messagesSelected"></app-message-component>

<router-outlet></router-outlet>
