<div>
    <mat-form-field *ngIf="validateCurrentAuthorSelection()">
        <input matInput (keyup)="applyFilterToAuthors($event.target)" placeholder="Filter author"
               [value]="filterAuthor">
    </mat-form-field>
    <perfect-scrollbar style="max-width: 100%; max-height: 200px;"
                      *ngIf="validateCurrentAuthorSelection()">
        <table mat-table [dataSource]="authorsSelected" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td [bgColor]=calculateBackgroundAuthors(element) mat-cell *matCellDef="let element"
                    (click)="authorClicked(element)"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Created At</th>
                <td [bgColor]=calculateBackgroundAuthors(element) mat-cell *matCellDef="let element"
                    (click)="authorClicked(element)"> {{toDate(element.createdAt * 1000)}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Author</th>
                <td [bgColor]=calculateBackgroundAuthors(element) mat-cell *matCellDef="let element"
                    (click)="authorClicked(element)"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef>User Name</th>
                <td [bgColor]=calculateBackgroundAuthors(element) mat-cell *matCellDef="let element"
                    (click)="authorClicked(element)"> {{element.userName}} </td>
            </ng-container>

            <ng-container matColumnDef="nMessages">
                <th mat-header-cell *matHeaderCellDef>Message Number</th>
                <td [bgColor]=calculateBackgroundAuthors(element) mat-cell *matCellDef="let element"
                    (click)="authorClicked(element)"> {{element.messages.length}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedAuthorsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedAuthorsColumns;"></tr>

        </table>
    </perfect-scrollbar>
</div>
