<div class="main">
  <mat-form-field *ngIf="validateCurrentAuthorSelection()">
    <input matInput (keyup)="applyFilterToAuthors($event.target.value)" placeholder="Filter author"
           [value]="filterAuthor">
  </mat-form-field>
  <div class="scroll"
                     *ngIf="validateCurrentAuthorSelection()">
    <table mat-table [dataSource]="authorsSelected" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td style="background: {{calculateBackgroundAuthors(element)}}" mat-cell *matCellDef="let element"
            (click)="authorClicked(element)"> {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td style="background: {{calculateBackgroundAuthors(element)}}" mat-cell *matCellDef="let element"
            (click)="authorClicked(element)"> {{ toDate(element.createdAt * 1000) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Author</th>
        <td style="background: {{calculateBackgroundAuthors(element)}}" mat-cell *matCellDef="let element"
            (click)="authorClicked(element)"> {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td style="background: {{calculateBackgroundAuthors(element)}}" mat-cell *matCellDef="let element"
            (click)="authorClicked(element)"> {{ element.userName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nMessages">
        <th mat-header-cell *matHeaderCellDef>Message Number</th>
        <td style="background: {{calculateBackgroundAuthors(element)}}" mat-cell *matCellDef="let element"
            (click)="authorClicked(element)"> {{ element.messages.length }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedAuthorsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedAuthorsColumns;"></tr>

    </table>
  </div>
  <app-message-component [messagesSelected]="messagesSelected"></app-message-component>
</div>
